body {
    font-family: comic sans MS;
    font-weight: normal;
    padding: 0;
    margin: 10;
    background: blue;
    background-image: url('squirm_5.png');
}

.game-console {
    display: grid;
    justify-content: center;
    align-content: center;
    padding: 30px; 
    min-height: 50vh;
    grid-template-columns: repeat(4, 130px);
    grid-template-rows: repeat(4, 150px); 
}

.game-console > button {
    cursor: pointer;
    font-size: 2rem;
    border: 2px solid whitesmoke;
    outline: nine;
    background-color: pink; 
}

.game-console > button:hover {
    background-color: antiquewhite;
}

.big-screen {
    grid-column: 1 / -1;
    / background-color: lightgoldenrodyellow; /
    background-color: white;
    height: 400px;
 
}

#clock-face {
    font-family: comic sans MS;
    text-align: center;
    font-size: 4em;
    color: red;
    display: none;
    position: absolute;
    left: 36%;
    top: 50%;
    margin: 20px auto;
}




