body {
    font-family: comic sans MS;
    background: blue;
    background-image: url('squirm_5.png');
}

.game-console {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#screen {
    position: relative;
    text-align: center;
    height: 400px;
    width: 520px;
    background: white;
}

.console-button {
    position: absolute;
    bottom: 0;
    width: 24%;
    height: 60px;
    cursor: pointer;
    font-size: 2rem;
    border: 2px solid whitesmoke;
    background-color: pink;
}

.bottom-grid,
.top-grid {
  display: flex;
}

.col {
    flex: 1;
    height: 60px;
    cursor: pointer;
    font-size: 2rem;
    border: 2px solid whitesmoke;
    background-color: pink;
}

#button-wrapper {
    padding-top: 12%;
}

#egg-image {
    height: 100px;
    padding-top: 37%;
    visibility: hidden;
    position: relative;
}
