body {
    background: blue;
    background-image: url('../images/squirm_5.png');
}

.game-console {
    font-family: comic sans MS;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#screen {
    font-family: comic sans MS;
    position: relative;
    text-align: center;
    height: 525px;
    width: 520px;
    background: black hidden;
    background: white;
}

.console-button {
    position: absolute;
    bottom: 0;
    width: 24%;
    height: 60px;
    cursor: pointer;
    font-size: 2rem;
}

.bottom-grid {
    display: flex;
}

.top-grid {
    display: flex;
}

.col-button:hover {
    background-color: red;
}

.col {
    font-family: comic sans MS;
    flex: 1;
    height: 60px;
    cursor: pointer;
    font-size: 2rem;
    border: 2px solid whitesmoke;
    background-color: pink;
    outline:none;
}
#button-wrapper {
    position: absolute;
    width: 100%;
    bottom: 0;
}

#egg-image {
    position: absolute;
    bottom: 120px;
    visibility: hidden;
    width: 80px; 
    left: 40%;
}
#sleepz-image {
    visibility: hidden;
    animation: blink 7s;
    animation-iteration-count: infinite;
    position: absolute;
    top: 120px;
}

#grave-image {
    position: relative;
    top: 195px;
    left: 77%;
    visibility: hidden;
    height: 100px;
    width: 100px;
}

#start-image {
    position: relative;
    top: 72px;
    left: 100PX;
    visibility: hidden;
    height: 413px;

}
#press-start2 {
    position: relative;
    visibility: hidden;
    height: 150px;
    width: 300px;
    left: -320px;
}
#food-chicken{
   display: none;
}
#clean-image {
    position: relative;
    top: 330px;
    left: 150PX;
    height: 35px;
    visibility: hidden;
}

#clock-message-wrapper {
    padding: 0 15px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

#message {
    margin-bottom: 10px;
}

#stage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 100%;
}

.box {
    align-self: flex-end;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    height: 200px;
    margin: 0 auto 0 auto;
    transform-origin: bottom;
    width: 200px;
}

.bounce {
    animation-name: bounce;
    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
    animation-duration: 2300ms;
    height: 100px;
    width: 100px;
    margin: 0;
}

@keyframes bounce {
    0%   { transform: scale(1,1)      translateY(0); }
    10%  { transform: scale(1.1,.9)   translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-100px); }
    50%  { transform: scale(1.05,.95) translateY(0); }
    57%  { transform: scale(1,1)      translateY(-7px); }
    64%  { transform: scale(1,1)      translateY(0); }
    100% { transform: scale(1,1)      translateY(0); }
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
}

#health-bar {
    width: 100px;
    height: 40px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    visibility: hidden;

    /* z-index: 1; */
}

.health-dot {
    width: 15px;
    height: 15px;
    background: #48CF0A;
    border-radius: 25%;
    margin: 0.5px;
}

#sleep-bar {
    width: 100px;
    height: 10px;
    display: flex;
    margin-left: 0px;
    right: 0;
    top: 30px;
    visibility: hidden;

}

.sleep-dot {
    width: 15px;
    height: 15px;
    background: blue;
    border-radius: 25%;
    margin: 0.5px;
}


