body {
    font-family: comic sans MS;
    background: blue;
    background-image: url('../images/squirm_5.png');
}

.game-console {
    font-family: comic sans MS;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#screen {
    font-family: comic sans MS;
    position: relative;
    text-align: center;
    height: 525px;
    width: 520px;
    background: white;
}

.console-button {
    font-family: comic sans MS;
    position: absolute;
    bottom: 0;
    width: 24%;
    height: 60px;
    cursor: pointer;
    font-size: 2rem;
    border: 2px solid whitesmoke;
    background-color: pink;
}

.bottom-grid,
.top-grid {
    font-family: comic sans MS;
  display: flex;
}

.col {
    font-family: comic sans MS;
    flex: 1;
    height: 60px;
    cursor: pointer;
    font-size: 2rem;
    border: 2px solid whitesmoke;
    background-color: pink;
}

#button-wrapper {
    position: absolute;
    width: 100%;
    bottom: 0;
}

#egg-image {
    position: relative;
    top: 180px;
    visibility: hidden;
}

#food-chicken{
   display: none;
}

#clock-message-wrapper {
    padding: 0 15px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

#message {
    margin-bottom: 10px;
}

#stage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 100%;
}

.box {
    align-self: flex-end;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    height: 200px;
    margin: 0 auto 0 auto;
    transform-origin: bottom;
    width: 200px;
}
 .bounce {
     animation-name: bounce;
     animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
     animation-duration: 2300ms;
    }
    @keyframes bounce {
        0%   { transform: scale(1,1)      translateY(0); }
        10%  { transform: scale(1.1,.9)   translateY(0); }
        30%  { transform: scale(.9,1.1)   translateY(-100px); }
        50%  { transform: scale(1.05,.95) translateY(0); }
        57%  { transform: scale(1,1)      translateY(-7px); }
        64%  { transform: scale(1,1)      translateY(0); }
        100% { transform: scale(1,1)      translateY(0); }
    }

#health-bar {
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.health-dot {
    width: 15px;
    height: 15px;
    background: #48CF0A;
    border-radius: 25%;
    margin: 0.5px;
}